# ANONYMOUS FUNCTIONS

## Anonymous Fucntion are also called lambda function in python beacuse instead of declaring them with the standard def keyword, lambda keyword is used.

In [2]:
def sq(n):
  return n**2

sq(5)

25

In [7]:
m = lambda n:n**2
print(m(5))

25

In [8]:
def mx(m, n):
  if m > n:
    return m
  else:
    return n

mx(5,6)

6

In [9]:
mx = lambda m, n:m if m>n else n
print(mx(5,6))

6

In [12]:
def sq_num(l):
  res = []
  for i in l :
    res.append(i*i)
  return res

l = [1,2,3,4]
print(sq_num(l))

[1, 4, 9, 16]

In [13]:
(lambda i : i**2, l)
print(sq_num(l))

[1, 4, 9, 16]

In [15]:
l = [1,2,3,4]
print(list(map(lambda i:i**2, l)))

[1, 4, 9, 16]

In [17]:
def sq_num(n):
  return n*2

n = [1,2,3,4]
sq_num(n)

[1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
def sq_num(n):
  return n*n

def my_map_func(my_func, list_of_args):
  res = []
  for i in list of args:
    res.append(my_func(i))
  return res

sq = my_map_func(sq_num, [1,2,3,4])

SyntaxError: ignored

In [ ]:
def sq_num(n):
  return n*n

def my_map_func(my_func, list_of_args):
  res = []
  for i in list of args:
    res.append(my_func(i))
  return res

l = [1,2,3,4])
print(val)

In [19]:
l = [1,2,3,4]
print(list(filter(lambda i:i>2, l)))

[3, 4]

In [20]:
l = [1,2,3,4]
print(list(map(lambda i:i>2, l)))

[False, False, True, True]

In [27]:
def prod_terms(a):
  mul = a[0]
  for i in range(l, len(a)):
    mul *= a[i]     # mul = mul * a[i]
  return mul

l = [1,2,3,4]
print(prod_terms(l))

TypeError: ignored

In [25]:
from functools import reduce
l = [1,2,3,4]
print(reduce(lambda x, y : x * y, l))

24