#GENERATORS

## A Generators is a function                          iterator

In [1]:
x = (1,2,3,4,5)
x_com = (i*i for i in x)
print(x_com)

<generator object <genexpr> at 0x7fdcfd4fab50>

In [3]:
def sq_num(my_list):
  res = []
  for i in my_list:
    res.append(i*i)
    return res

my_list = [1,2,3,4]
print(sq_num(my_list))

[1]

In [8]:
def sq_num(my_list):
  res = []
  for i in my_list:
    yield(i*i)

my_list = sq_num([1,2,3,4])
print(next(my_list))
print(next(my_list))
print(next(my_list))

1
4
9

In [9]:
def sq_num(my_list):
  res = []
  for i in my_list:
    yield(i*i)

my_list = sq_num([1,2,3,4])
for x in my_list:
  print(x, end = ' ')

1 4 9 16

In [10]:
x = (1,2,3,4,5)
x_com = (i*i for i in x)
for y in x_com:
  print(y, end = ' ')

1 4 9 16 25

In [12]:
x = (1,2,3,4,5)
x_com = (i*i for i in x)
print(list(x_com))

[1, 4, 9, 16, 25]

##FIBONACCI SERIES using Generator

In [15]:
def fib_series(a):
  x, y = 1, 0 
  while True:
    z = x+y
    if z <a:
      yield z 
      z, y = y, x
    else:
      break

gen_fib = fib_series(10)
print(next(gen_fib))
print(next(gen_fib))
print(next(gen_fib))
print(next(gen_fib))

1
2
2
2