<a href="https://colab.research.google.com/github/niikhilpatel/Python-Training/blob/main/Python_Training_Day_6_All_Programs_Sets_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SET

## Set is an unorder collection of elements which are unique

In [2]:
hero_name = {'Tony', 'Steve', 'Thor'}
print(hero_name)
print(type(hero_name))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

# Empty Sets

In [3]:
a = {}
print(type(a))

<class 'dict'>

In [4]:
a = set()
print(type(a))

<class 'set'>

In [5]:
hero_name = ['Tony', 'Steve', 'Thor']
print(hero_name)
print(type(hero_name))

['Tony', 'Steve', 'Thor']
<class 'list'>

In [6]:
hero_name = {'Tony', 'Steve', 'Thor'}
a = set(hero_name)
print(a)
print(type(a))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

In [7]:
hero_name = 'Tony', 'Steve', 'Thor'
a = set(hero_name)
print(a)
print(type(a))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

In [8]:
hero_name = {'Tony', 'Steve', 'Thor'}
a = set(hero_name)

In [ ]:
hero_name = 'Tony', 'Steve', 'Thor', 'Tony'
a = set(hero_name)

## Operations on Set

In [9]:
hero_name = {'Tony', 'Steve', 'Thor'}
len(hero_name)

3

In [10]:
'Steve' in hero_name

True

In [11]:
'IronMan' in hero_name

False

In [12]:
'IronMan' not in hero_name

True

## Union in Sets

In [13]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture'}
print(hero_name | villain_name)      #Union means joining or merge together all elements

{'Tony', 'Ultron', 'Steve', 'Vulture', 'Thanos', 'Thor'}

In [15]:
print(hero_name.union(villain_name))

{'Tony', 'Ultron', 'Steve', 'Vulture', 'Thanos', 'Thor'}

## Is there any difference between union method and pipe operator

In [16]:
print(hero_name | ('Thanos', 'Ultron', 'Vulture')

TypeError: ignored

In [19]:
print(hero_name.union(('Thanos', 'Ultron', 'Vulture')))

{'Tony', 'Ultron', 'Steve', 'Vulture', 'Thanos', 'Thor'}

##Intersection in Sets

In [21]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture'}
print(hero_name & villain_name)           #Intersection   --> return the common value

set()

In [23]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'}      # common elements will print
print(hero_name & villain_name)

{'Thor'}

In [24]:
print(hero_name.intersection(villain_name))

{'Thor'}

## Difference in Sets  -->   Elements which are present in one set but not present in another set

In [26]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'} 
print(hero_name - villain_name)

{'Tony', 'Steve'}

In [27]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'} 
print(villain_name - hero_name)

{'Vulture', 'Ultron', 'Thanos'}

## issubset() in Sets

In [28]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'} 
print(hero_name <= villain_name)

False

In [31]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'} 
print(villain_name <= hero_name)

False

In [34]:
iron_man_1 = {'Thor', 'Warmachine'}
iron_man_2 = {'Tony', 'Warmachine', 'Natasha'}
print(iron_man_1 <= iron_man_2)

False

In [33]:
print(iron_man_2 <= iron_man_1)

False

## issuperset() in Sets

In [35]:
print(iron_man_1 >= iron_man_2)

False

In [37]:
print(iron_man_2 >= iron_man_1)

False

## isdisjoint() is Sets  --> gives output Truw when there is no no common elements

In [38]:
iron_man_1 = {'Thor', 'Warmachine'}
iron_man_2 = {'Tony', 'Warmachine', 'Natasha'}
print(iron_man_1.isdisjoint(iron_man_2))

False

In [39]:
print(iron_man_2.isdisjoint(iron_man_1))

False

In [42]:
hero_name = {'Tony', 'Warmachine', 'Natasha'}
villain_name = {'Tony', 'Ultron', 'Vulture'}
print(hero_name.isdisjoint(villain_name))

False

## Symmetric Difference in Sets --> generate a set having elements which  are not common in either 1st or 2nd set

In [41]:
print(hero_name.symmetric_difference(villain_name))

{'Warmachine', 'Natasha', 'Ultron', 'Vulture'}

In [44]:
print(hero_name ^ villain_name)

{'Warmachine', 'Natasha', 'Ultron', 'Vulture'}

##Adding elements in set

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
hero_name.add

In [46]:
hero_name.add(('Hawkeye', 'Natasha'))
hero_name

{('Hawkeye', 'Natasha'), 'Natasha', 'Tony', 'Warmachine'}

## Remove Elements from a set

In [47]:
hero = {'Hulk', 'Steve', 'Thor', 'Tony'}
hero.remove('Thor')
hero

{'Hulk', 'Steve', 'Tony'}

In [50]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.discard('Thor')
hero

{'Hulk', 'Steve', 'Tony'}

In [51]:
hero.pop()        #it will remove elements randomly
hero

{'Hulk', 'Steve'}

In [52]:
hero.pop()        #it will remove elements randomly
hero

{'Hulk'}

In [53]:
hero.pop()        #it will remove elements randomly
hero

set()

In [55]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.clear()
hero

set()

In [57]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.pop('Hulk')
hero

TypeError: ignored

## Augmented Assignment Operator

In [58]:
# a = a + b
# a += b

In [60]:
# a = a | b 
# a |= b

In [ ]:
# a.union(b) --> a.union_update(b)
# a.intersection(b)  --> a.intersection_update(b)

## Frozen Sets

In [62]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(hero)
print(type(hero))

frozenset({'Tony', 'Steve', 'Hulk'})
<class 'frozenset'>

In [63]:
hero.pop()
hero

AttributeError: ignored

In [64]:
hero.clear()
hero

AttributeError: ignored

In [65]:
hero.add('Tony')        #you cannot do it that
hero

AttributeError: ignored

In [66]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(hero)
new_hero = {'Strange', 'Spiderman'}
hero |= new_hero
print(hero)

frozenset({'Tony', 'Steve', 'Hulk'})
frozenset({'Tony', 'Steve', 'Hulk', 'Strange', 'Spiderman'})

In [67]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(id(hero))
new_hero = {'Strange', 'Spiderman'}
hero |= new_hero
print(id(hero))

140016422123952
140016422122752

## Set Comprehension

In [68]:
num = [4, 3, 2, 1, 1, 5, 3, 4]
set_com = {i for i in num}
print(set_com)

{1, 2, 3, 4, 5}